.git
.gitignore
.gitattributes

.vs
.vscode

**/bin
**/obj
**/publish
**/TestResults

src/mobile/.dart_tool
src/mobile/build
src/mobile/android/.gradle
src/mobile/android/local.properties
src/mobile/ios/Pods

.env
.env.*

!.env.example

database/backups

README.md
docs