URBANSYNC_DB_CONNECTION=Server=tcp:YOUR_SERVER.database.windows.net,1433;Initial Catalog=UrbanSyncDB;User ID=YOUR_USER;Password=YOUR_PASSWORD;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;

JWT_ISSUER=UrbanSync.Api
JWT_AUDIENCE=UrbanSync.Clients

JWT_SECRET_KEY=CHANGE_THIS_SECRET_WITH_AT_LEAST_32_CHARACTERS

JWT_EXPIRATION_MINUTES=60